{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_untyped_record
]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.

{xref_checks, [undefined_function_calls]}.

{deps, [
    {uthash, ".*", {git, "git://github.com/troydhanson/uthash.git",
                        {tag, "v1.9.9"}}, [raw]}
]}.

{port_specs, [
    {".*", "priv/erlqueue.so", ["c_src/*.c"],
        [{env, [
            {"CFLAGS", "$CFLAGS -std=c11 -Ideps/uthash/src -Ideps/uthash/src"}
        ]}]
    }
]}.
