{driver, basho_bench_driver_erlqueue_cnode}.
{code_paths, [
    "erlqueue_cnode/ebin",
    "erlqueue_cnode/deps/lager/ebin",
    "erlqueue_cnode/deps/goldrush/ebin",
    "erlqueue_cnode/deps/erlsemaphore/ebin",
    "erlqueue_cnode/deps/erlqueue/ebin"
]}.
{pre_hook, {basho_bench_driver_erlqueue_cnode, init}}.
{mode, max}.
{duration, 5}.  %% minutes
{concurrent, 1}.
{operations, [
    {signal, 1},
    {wait, 1}
]}.
{report_interval, 5}.
{key_generator,
    {int_to_bin_bigendian,
        {uniform_int, 1000}}}.
{value_generator,
    {uniform_bin, 64, 128}}.
