{driver, basho_bench_driver_erlqueue}.
{code_paths, ["../ebin"]}.
{pre_hook, {basho_bench_driver_erlqueue, init}}.
{mode, max}.
{duration, 5}.  %% minutes
{concurrent, 1}.
{operations, [
    {get, 1},
    {put, 1}
]}.
{report_interval, 5}.
{key_generator,
    {int_to_bin_bigendian,
        {uniform_int, 1000}}}.
{value_generator,
    {uniform_bin, 64, 128}}.
